HELP.md

# Logs #
logs/
*.log

## Java Classes
*.class

## Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
pom.xml.releaseBackup
pom.xml.tag

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Arquivos de propriedades sensíveis
application.properties
application-*.properties
application.yml

# Arquivos de configuração sensíveis
*.jks
*.env

### VS Code ###
.vscode/

## Others
*.war
.mvn/
node_modules/